@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #1e1e1e;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #1e1e1e;
  padding: 20px;
  color: white;
}

.booking-button {
  margin: 20px 0; /* Adjust this to control the spacing */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #fff;
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 14px;
  line-height: 30px;
  color: #fff;
}

label {
  color: white; /* Add this line to make label text white */
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #e75e8d;
  color: white;
  font-size: 14px;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.3s ease;
  width: 150px; /* Add this line to set a fixed width */
  margin: 5px; /* Add this line to add space between buttons */
}

button:hover {
  background-color: white;
  color: #e75e8d;
}

.next-btn {
  padding: 10px 20px;
  border: 2px solid #e75e8d;
  background-color: #e75e8d;
  color: white;
  font-size: 14px;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.3s ease;
  border-radius: 5px;
  width: 150px; /* Add this line to set a fixed width */
  margin: 5px; /* Add this line to add space between buttons */
}

.next-btn:hover {
  background-color: white;
  color: #e75e8d;
}

.select {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #e75e8d;
  color: white;
  font-size: 14px;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.3s ease;
  appearance: none; /* Remove default dropdown arrow */
  -webkit-appearance: none; /* Remove default dropdown arrow in Safari */
  -moz-appearance: none; /* Remove default dropdown arrow in Firefox */
}

.select:hover {
  background-color: white;
  color: #e75e8d;
}

option {
  background-color: white;
  color: #e75e8d;
}

.textfield {
  border: 2px solid white;
  border-radius: 0px;
  font-size: 14px;
  width: 100%;  /* Ensure full width for centering */
}

.colour-section {
  padding: 30px;
  background-color: #1e1e1e;
  padding-bottom: 50px;
  display: flex;
  justify-content: center; /* Center the container */
  width: 100%; /* Make the section take full width */
}

.guests-section {
  display: flex;
  justify-content: center; /* Center the container */
  width: 100%; /* Make the section take full width */
}

form {
  width: 100%; /* Ensure form takes full width for centering */
}

.container {
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: #27292a;
  border-radius: 15px;
  align-items: center; /* Center contents of the container */
  justify-content: center; /* Center contents vertically */
  width: 80%; /* Adjust width as needed */
  max-width: 800px; /* Limit the maximum width for better responsiveness */
  height: auto; /* Adjust height to fit content */
}

.page-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

footer p {
  text-align: center;
  padding: 30px 0px;
  color: #fff;
  font-weight: 300;
}

footer p a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

footer p a:hover {
  color: #ec6090;
}