.featured-events-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.featured-games {
  border-radius: 23px;
  background-color: #1f2122;
  padding: 30px;
  width: 100%;
  max-width: 1200px;
}

.featured-games .heading-section {
  margin-bottom: 20px;
}

.featured-games .slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.featured-games .item {
  padding: 10px;
}

.featured-games .item .thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  height: 450px; /* Fixed height */
}

.featured-games .item .thumb img {
  width: 100%;
  height: 100%; /* Fixed height */
  object-fit: cover; /* Maintain aspect ratio and fill the container */
  border-radius: 23px;
}

.featured-games .item .thumb .hover-effect {
  position: absolute;
  bottom: -100px;
  text-align: center;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
}

.featured-games .item .thumb:hover .hover-effect {
  opacity: 1;
  visibility: visible;
  bottom: 15px;
}

.featured-games .item .thumb .hover-effect h6 {
  background-color: rgba(31,33,34,0.95);
  display: inline-block;
  color: #ec6090;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 25px;
}

.featured-games .item h4 {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0px;
  display: inline-block;
}

.featured-games .item span {
  color: #666;
  display: block;
  margin-top: 7px;
  font-weight: 400;
}

.featured-games .item ul {
  float: right;
  margin-top: 20px;
}

.featured-games .item ul li {
  text-align: right;
  color: #fff;
  font-size: 14px;
}

.featured-games .item ul li:first-child i {
  color: yellow;
}

.featured-games .item ul li:last-child i {
  color: #ec6090;
}

.slick-prev:before, .slick-next:before {
  color: #fff;
}
