.navbar {
  width: 100%;
  height: 100px;
  background-color: #1f2122;
  display: flex;
  flex-direction: row;
  z-index: 1000;
  
  a {
    color: #666;
    text-decoration: none;
    margin: 20px;

    &:hover {
      color: #e75e8d;
    }
  }

  .active {
    color: #e75e8d;
  }

  #open {
    padding-left: 30px;

    a {
      width: 70px;
      margin: 5px;
    }

    img, #search {
      display: none;
    }

    .hiddenLinks {
      display: inherit;
      margin-left: 0px;
    }
  }

  #close {
    img {
      display: inherit;
    }

    .hiddenLinks {
      display: none;
    }
  }
}

.navbar .leftSide {
  flex: 50%;
  gap: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px;

  img {
    width: 150px;
    cursor: pointer;
  }

  #search {
    width: 300px;
    height: 40px;
    background-color: #27292a;
    border-radius: 20px;
    border: 1px solid #555;
    color: #666;
    font-size: 14px;

    input {
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: none;
      color: white;
      font-size: 14px;
    }
    
    .search-icon {
      position: relative;
      left: 15px;
      top: -30px;
      color: #666;
    }
  }
}

.navbar .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 30px;

  button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }

  svg {
    font-size: 40px;
  }

  .profile-dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;

    .user-button {
      display: block;
      width: calc(100% + 20px);
      color: #666;
      text-decoration: none;
      border: #e75e8d 1px solid;
      padding: 15px;
      border-radius: 25px;
      text-transform: none;
  
      &:hover {
        color: #e75e8d;
      }
    }

    .dropdown {
      width: calc(100% + 20px);
      display: none;
      position: absolute;
      background-color: #1f2122;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      border-radius: 0 0 10px 10px;
      z-index: 1;
      margin: 20px;
    }

    &:hover .dropdown {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      gap: 0;
    }
  }
}

.event-list-results {
  width: 500px;
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 10%;
  left: 200px;
  background-color: #1f2122ee;
  border-radius: 0 0 10px 10px;

  .event-result-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
      border-radius: 5px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .navbar .rightSide a {
    width: 70px;
  }

  .navbar .leftSide {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar .rightSide a {
    display: none;
  }

  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 20px;
  }

  .navbar .rightSide button {
    display: inherit;
  }
}

@media only screen and (min-width: 600px){
  .navbar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}