.gaming-library {
  width: 80%; /* Adjust width to your preference, e.g., 80% of the parent container */
  margin: 60px auto; /* Centers the container with automatic margins */
  padding: 30px;
  background-color: #1f2122;
  border-radius: 23px;
}

.gaming-library .item {
  border-bottom: 1px solid #27292a;
  padding-bottom: 20px;
  padding-left: 10px; /* Reduced left padding */
  padding-right: 10px; /* Reduced right padding */
}

.gaming-library .last-item {
  margin-bottom: 30px;
}

.profile-library .last-item {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.gaming-library .item ul {
  display: flex; /* Add flexbox */
  align-items: center; /* Vertically center all children */
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: space-between;
}

.gaming-library .item ul li {
  margin-top: 5px; /* Smaller top margin to push content up */
  display: block; /* Switch to block to fill the flex container */
  flex: 1; /* Each takes equal width */
  padding: 10px; /* Padding for spacing */
}

.gaming-library .item ul li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 0px;
  border-radius: 23px;
}

.gaming-library .item ul li:first-child {
  flex: 0 0 100px; /* Do not grow, do not shrink, initial width 100px */
}

.gaming-library .item ul li:last-child {
  flex: 0 0 120px; /* Adjust last item width for alignment */
  display: flex; /* Using flex to align the button */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}


.gaming-library .item ul li h4 {
  font-size: 15px;
  margin-bottom: 5px;
}

.gaming-library .item ul li span {
  color: #666;
  font-size: 14px;
}

.gaming-library .main-button {
  text-align: center;
  margin-bottom: -53px;
}

.main-border-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ec6090;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.main-border-button a:hover {
  background-color: #1f2122;
}

.view-library-button a {
  display: inline-block;
  padding: 12px 25px;
  background-color: #ec6090;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border: none;
}

.view-library-button a:hover, .view-library-button a:focus {
  background-color: #ffffff;
  color: #ec6090;
  border: 1px solid #ec6090;
}
