.browse-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adjust as needed */
  padding: 20px; /* Add padding if necessary */
}

.featured-and-artist-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Adjust as needed */
}

.all-events-container { 
  border-radius: 8px; /* Adjust as necessary */
  background-color: #1f2122; /* Adjust as necessary */
}
