.all-events {
  padding: 30px;
  background-color: #1f2122;
  border-radius: 23px;
}

.all-events .item {
  background-color: #27292a;
  padding: 30px 15px;
  border-radius: 23px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-events .item:hover {
  background-color: #252627;
}

.all-events .item img {
  width: 100%;
  height: 200px; /* Ensure a consistent height */
  border-radius: 23px;
  object-fit: cover; /* Ensure the image covers the area without distortion */
}

.all-events .item h4 {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center; /* Center the text */
}

.all-events .item span {
  color: #666;
  display: block;
  margin-top: 7px;
  font-weight: 400;
}

.all-events .item ul {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  text-align: center; /* Center the text */
}

.all-events .item ul li {
  display: inline;
  color: #fff;
  font-size: 14px;
  margin: 0 10px; /* Add some spacing between the list items */
}

.all-events .item ul li:first-child i {
  color: rgb(208, 208, 76);
}

.all-events .item ul li:last-child i {
  color: #ec6090;
}

.all-events .row {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Ensure the items fill the space properly */
  gap: 20px; /* Add some space between the items */
}

@media (max-width: 768px) {
  .all-events .row {
      grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns for smaller screens */
  }
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #27292a;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 50%; /* Make the buttons circular */
  cursor: pointer;
  width: 40px; /* Fixed width to make them circular */
  height: 40px; /* Fixed height to make them circular */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.pagination button.active {
  background-color: #ec6090; /* Active button color */
  color: #fff;
}

.pagination button:hover {
  background-color: #ec6090; /* Hover color */
  color: #fff; /* Ensure the number remains visible */
}
