.main-banner {
  background-position: center center;
  background-size: cover;
  min-height: 380px;
  border-radius: 23px;
  padding: 80px 60px;
  position: relative; 
  transition: background-image 0.6s ease-in-out;
}

.main-banner h6 {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 25px;
}

.main-banner h4 {
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.main-banner h4 em {
  font-style: normal;
  color: #ec6090;
}

.button-style {
  display: inline-block;
  background-color: #ec6090;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button-style:hover {
  background-color: #bf486a;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-controls button {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.carousel-controls button:hover {
  background: rgba(0, 0, 0, 0.7);
}

.carousel-dots {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  position: center;
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease-in-out;
}

.dot.active {
  background-color: #000;
}


